<app-navbar></app-navbar>
<h1 class="display-3 text-center my-5">What's on your mind?</h1>

<div class="d-flex justify-content-center">
    <div class="{{alertClass}} w-25 justify-content-center mt-2" role="alert">
        {{message}}
    </div>
</div>

<div *ngIf="currentPath?.includes('tweet')">
    <form id="myForm" class="w-50 pt-3" [formGroup]="tweetForm" (submit)="editTweet()">
    
        <div class="form-group">
            
            <textarea 
                [(ngModel)]="tweetContent"
                formControlName="tContent" 
                class="form-control"
                rows="3"
                [class.is-invalid]="tContent?.invalid && tContent?.touched"></textarea>
    
            <div *ngIf="tContent?.errors && tContent?.touched">
                <small 
                    class="text-danger text-center"
                    *ngIf="tContent?.errors?.['required']"
                    >Content required.</small>
            </div>    
        </div>
    
        <input type="submit" 
            class="btn btn-primary bg-gradient btn-block mt-3 w-100"
            [disabled]="tweetForm.invalid">
    </form>
</div>

<div *ngIf="currentPath?.includes('comment')">
    <form id="myForm" class="w-50 pt-3" [formGroup]="commentForm" (submit)="editComment()">
    
        <div class="form-group">
            
            <textarea 
                [(ngModel)]="commentContent"
                formControlName="cContent" 
                class="form-control"
                rows="3"
                [class.is-invalid]="cContent?.invalid && cContent?.touched"></textarea>
    
            <div *ngIf="cContent?.errors && cContent?.touched">
                <small 
                    class="text-danger text-center"
                    *ngIf="cContent?.errors?.['required']"
                    >Content required.</small>
            </div>    
        </div>
    
        <input type="submit"
            class="btn btn-primary bg-gradient btn-block mt-3 w-100"
            [disabled]="commentForm.invalid">
    </form>
</div>
<app-footer></app-footer>